* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ccc;
  font-family: sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    li {
      list-style: none;
      padding: 0.5em 1em;

      a {
        color: #111;

        &:hover {
          color: #444;
        }
      }
    }
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: sans-serif;
  h1 {
    color: #111;
    font-size: 2rem;
  }
  p {
    line-height: 1.5em;
    font-family: sans-serif;
    font-size: 1.1rem;

    @media screen and (min-width: 70ch) {
      width: 65ch;
    }

    a {
      color: rgb(0, 50, 158);
      &:visited {
        color: rgb(0, 50, 158);
      }
      &:hover {
        color: rgb(0, 27, 85);
      }
    }
  }
}
